<%- include('header', {title: 'Enter a note'}); -%>

<div class="sighting-form-container">
  <form action="/note" method="POST">
    <div class="row">
      <div class="col-sm-2 input-field">
        <label for="date">Date:</label><br />
      </div>
      <div class="col-sm-4 input-field">
        <input type="date" id="date" name="date" required /><br />
      </div>
      <div class="col-sm-2 input-field">
        <label for="flock_size">Flock Size:</label><br />
      </div>
      <div class="col-sm-4 input-field">
        <input type="text" id="flock_size" name="flock_size" required /><br />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 input-field">
        <label for="species">Species:</label><br />
      </div>
      <div class="col-sm-4 input-field">
        <select type="text" id="species" name="species" required>
          <% species.forEach((item) => { %>
          <option value="<%= item.id%>"><%= item.name%></option>
          <%})%></select
        ><br />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 input-field">
        <p>Behaviour:</p>
        <br />
      </div>
      <div class="col-sm-10 input-field">
        <% for (let i=0; i<6; i+=1) { %>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            name="behaviour"
            value="<%= behaviour[i].id %>"
            id="behaviour"
          />
          <label class="form-check-label" for="behaviour">
            <%= behaviour[i].action %></label
          >
        </div>
        <% } %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 input-field">
      </div>
      <div class="col-sm-10 input-field">
        <% for (let i=6; i<behaviour.length; i+=1) { %>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            name="behaviour"
            value="<%= behaviour[i].id %>"
            id="behaviour"
          />
          <label class="form-check-label" for="behaviour">
            <%= behaviour[i].action %></label
          >
        </div>
        <% } %>
      </div>
    </div>

    
    <!-- <div class="comments-input">
      <label for="comments">Comments:</label><br />
      <textarea type="text" id="comments" name="comments"></textarea><br />
    </div> -->
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>
</div>
<%- include('footer'); -%>
