<%- include('header', {title: 'Single Note'}); -%>

<div class="single-sighting-container">
  <div class="sighting-title">
    <h2>Note #<%= noteId %></h2>
  </div>
  <div class="sighting-details">
    <% Object.keys(note).forEach((element) => { %>
    <div class="row">
      <div class="col-3 col-sm-3"><%= element.toUpperCase()%>:</div>
      <div class="col-9 col-sm-9"><%= note[element] %></div>
    </div>
    <% })%>
    <div class="row">
      <div class="col-3 col-sm-3">BEHAVIOUR:</div>
      <div class="col-9 col-sm-9">
        <% allBehaviour.forEach((action) => { %>
          <%= action %> </t></t>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-3 col-edit">
    <a href="/note/<%= noteId %>/edit" class="edit">EDIT</a>
  </div>
  <div class="col-3">
    <form action="/note/<%= noteId %>/delete?_method=DELETE" method="POST">
      <button type="submit" class="delete">DELETE</button>
    </form>
  </div>
  <div class="col-3"></div>
</div>
<%- include('footer'); -%>
